*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
h1{
    text-align:center;
    padding: 30px;
}
button{
    justify-content: center;
    margin: 20px;
    font-size: 20px;
    border-radius: 5px;
}
input{
    margin-left: 40px;
    font-size: 20px;
    border-radius: 5px;
}